{layout name="common/layout" /}

<body class="index">
<div class="index_table">
    <table>
        <tbody>
            <tr>
                <td>
                    <i class="icon iconfont">&#xe661;</i>
                    <p>当日销量</p>
                    <p>元</p>
                </td>
                <td>
                    <i class="icon iconfont">&#xe62a;</i>
                    <p>当月销量</p>
                    <p>元</p>
                </td>
                <td>
                    <i class="icon iconfont">&#xe88e;</i>
                    <p>个人累计销量</p>
                    <p>元</p>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon iconfont">&#xe67c;</i>
                    <p>团队日销</p>
                    <p>元</p>
                </td>
                <td>
                    <i class="icon iconfont">&#xe61c;</i>
                    <p>团队月销</p>
                    <p>元</p>
                </td>
                <td>
                    <i class="icon iconfont">&#xe603;</i>
                    <p>团队累计销量</p>
                    <p>元</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="index_btn">

    <div class="index_btn_inner">
        <a href="" style="background-color:#fef5e3">
            <i class="icon iconfont">&#xe632;</i>
            <div class="index_btn_info">
                <p>元</p>
                <p>当月团队奖金</p>
            </div>
        </a>
    </div>

    <div class="index_btn_inner">
        <a href="" style="background-color:#fee1e6">
            <i class="icon iconfont">&#xe74f;</i>
            <div class="index_btn_info">
                <p>元</p>
                <p>当月个人奖金</p>
            </div>
        </a>
    </div>

    <div class="index_btn_inner">
        <a href="" style="background-color:#fddcbe">
            <i class="icon iconfont">&#xe671;</i>
            <div class="index_btn_info">
                <p>元</p>
                <p>当日个人利润</p>
            </div>
        </a>
    </div>

    <div class="index_btn_inner">
        <a href="" style="background-color:#fce7d3">
            <i class="icon iconfont">&#xe64e;</i>
            <div class="index_btn_info">
                <p>元</p>
                <p>当月个人利润</p>
            </div>
        </a>
    </div>

</div>