{layout name="common/layout" /}
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url()">
                <a href="" target="_blank"><div class="flexslider-title"></div></a>
            </li>
        </ul>
    </div>

    <div class="index_intro">
        <h3>闲暇时光，来撩一撩菜板猫！</h3>
        <p>菜板猫是一家集养殖、生产加工和贸易为一体的综合性商贸公司。公司以“传承传统饮食文化，创造健康生活概念，向顾客提供生态、美味的休闲食品”为企业使命，以“做中国最具竞争力的高附加值休闲食品品牌”为企业愿景。坚持以过硬的食材为顾客提供最健康最营养的休闲食品。</p>
    </div>

    <div class="index_intro_p">
        <a class="index_intro_p1" href="">
            <img src="__ADDON__/images/index2_1.jpg">
        </a>
        <a class="index_intro_p1" href="">
            <img src="__ADDON__/images/index2_2.jpg">
        </a>
        <a class="index_intro_p2" style="padding-right: 5px;" href="">
            <img src="__ADDON__/images/index2_3.jpg">
        </a>
        <a class="index_intro_p2" style="padding-left: 5px;" href="">
            <img src="__ADDON__/images/index2_4.jpg">
        </a>
        <a class="index_intro_p2" style="padding-right: 5px;" href="">
            <img src="__ADDON__/images/index2_5.jpg">
        </a>
        <a class="index_intro_p2" style="padding-left: 5px;" href="">
            <img src="__ADDON__/images/index2_6.jpg">
        </a>
    </div>
